.item {
  height: 40px;
  color: rgb(88, 88, 88);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgb(255, 255, 255);
}

.item:nth-child(2n) {
  background-color: rgba(201, 200, 200, 0.6);
}

.item:hover,
.item:nth-child(2n):hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0 185 255 / 60%);
}
